<!DOCTYPE html>
<html>

<head>
    <title>Pomodoro di Janeiro</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <main class="container text-center">
        <h1>Samba!</h1>
        <h2 id="timer"></h2>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script>

        var countDownDate;

        function samba() {

            console.log('Samba!');
            var songUri = "5xhtxSkH4linUTmOOvjWvw";

            $.ajax({
                url: 'https://api.spotify.com/v1/audio-features/' + songUri,
                method: 'GET',
                headers: { Authorization: 'Bearer <%= access_token %>' },
                complete: function (result) {
                    var duration = result.responseJSON.duration_ms;
                    console.log(duration);

                    $.ajax({
                        url: 'https://api.spotify.com/v1/me/player/play',
                        method: 'PUT',
                        headers: { Authorization: 'Bearer <%= access_token %>' },
                        data: JSON.stringify({ "uris": ["spotify:track:" + songUri] }),
                        complete: function (result) {
                            console.log(result);
                            createTimer(duration, function () {
                                $.ajax({
                                    url: 'https://api.spotify.com/v1/me/player/play',
                                    method: 'PUT',
                                    headers: { Authorization: 'Bearer <%= access_token %>' },
                                    data: JSON.stringify({ "context_uri": "spotify:user:ulyssestone:playlist:1sK57sqzJaO2ZxilXD2KRw" }),
                                    complete: function (result) {
                                        console.log(result);
                                        createTimer(1500000, samba);
                                    }
                                });
                            });
                        }
                    });

                }
            });
        }

        function playlists() {

            $.ajax({
                url: 'https://api.spotify.com/v1/me/playlists?limit=50',
                method: 'GET',
                headers: { Authorization: 'Bearer <%= access_token %>' },
                complete: function (result) {
                    console.log(result);
                }
            });
        }


        function createTimer(time, callback) {
            countDownDate = new Date().getTime() + time;

            var interval = setInterval(function () {

                var now = new Date().getTime();
                var diff = countDownDate - now;

                var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((diff % (1000 * 60)) / 1000);
                document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

                if (diff < 0) {
                    clearInterval(interval);
                    document.getElementById("timer").innerHTML = "EXPIRED";
                    console.log(diff);
                    callback();
                }
            }, 1000);
        }


        $(document).ready(function () {
            console.log("ready!");
            playlists();
            createTimer(1500000, samba);
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>